@font-face {
    font-family: 'Golos Text';
    src: url('./GolosText-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Golos Text', sans-serif;
    font-weight: 700;
    user-select: none;
}
html::-webkit-scrollbar{
    background-color: #242638;
    width: 6px;
    right:50px;
}
html::-webkit-scrollbar-thumb{
    background-color: #484d5c;
    border-radius: 50px;
}
html, body{
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background: 
        linear-gradient(to right, rgb(15, 20, 26) 0%,  rgba(16, 21, 29, 0.75) 30%,  rgba(16, 21, 29, 0.75) 70%, rgb(15, 20, 26) 100%),
        url(/icons/textures/concrete.png);
    background-repeat: 
        no-repeat,
        repeat;
    background-size: 
        cover,
        500px;
    align-items: center;
    background-position:
        center,
        top left;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p,a{
    color:white;
}
header{
    position: absolute;
    display: flex;
    flex-direction: row;
    top:0;
    left:0;
    width: 100vw;
    height: 75px;

    border: 5px solid transparent;
    border-image: linear-gradient(to right,
        rgb(24, 33, 42) 0%,
        rgb(102, 106, 110) 50%,
        rgb(24, 33, 42) 100%
    ) 1;

    background:
        linear-gradient(to right,
        rgb(24, 33, 42) 0%,
        rgba(24, 33, 42, 0.5) 50%,
        rgb(24, 33, 42) 100%),
        url("icons/textures/surface.png");
    background-repeat:
        no-repeat,
        repeat;
    background-size:
        cover,
        100px;
    background-position:
        center,
        top left;

    align-items: center;
    background-position:
        center,
        top left;
    align-items: center;
    
    justify-content: space-between;
    z-index:5;
}
.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:40px;
    margin: 0 45px;
}
.header-logo {
    font-size: 32px;
    color: #FFFFFF;
}
.header-button {
    font-size: 20px;
    color: #FFFFFF;
}
.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:50px;
    margin: 0 45px;
}
.user-balance{
    display: flex;
    flex-direction: row;
    background-color: #3c414d;
    border: 2px solid #616676;
    border-radius: 25px;
    padding: 5px 15px;
    height: 20px;
    align-items: center;
    gap:5px;
    margin:0;
}
.user-balance p {
    margin: 0;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
}
.normal-price{
    color:white;
    font-size: 13px;
}
.price-decimal{
    color:#7B7B7B;
    font-size: 13px;
}
.coin-icon{
    width: 17px;
    height: 17px;
}

footer{
    display: flex;
    border: 10px solid rgba(24, 33, 42, 0.9);
    background:
        linear-gradient(rgba(24, 33, 42, 0.97)),
        url("icons/textures/surface.png");
    background-repeat:
        repeat;
    background-size:
        100px;
    width: 100vw;
    height: 100vw;
    max-height: 10vw;
    top:90vw;
    z-index:5;
}

.item-cell{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-shrink:0;
    width: 110px;
    height: 130px;
    border-radius: 20px;
    background: 
        linear-gradient(rgb(35, 43, 52)) padding-box,
        linear-gradient(rgb(47, 55, 68), rgb(35, 43, 52)) border-box;
    border: 2px solid transparent;
    background-clip: padding-box, border-box;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    filter:brightness(0.9);
}
.item-cell-name{
    color:#d6d6d6;
    margin:0;
}
.item-cell-icon{
    margin: 0;
    width: 90px;
}
.item-cell-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}
.item-cell-price-text{
    color:#d6d6d6;
    margin: 0;
}
.item-cell-price-coin{
    width: 20px;
    height: 20px;
    margin: 0;
}

.background-preset-1{
    background:
        radial-gradient(rgba(32, 42, 53, 0.95) 0%, rgb(23, 30, 39) 80%),
        url("icons/textures/riffled_metal.png");
    background-repeat:
        no-repeat,
        repeat;
    background-size:
        cover,
        100px;
}
.background-preset-2{
    background:
        linear-gradient(rgba(24, 33, 42, 0.9)),
        url("icons/textures/riffled_metal.png");
    background-repeat:
        repeat;
    background-size:
        100px;
}
.background-preset-3{
    background:
        linear-gradient(rgba(37, 43, 48, 0.8)),
        url("icons/textures/surface.png");
    background-repeat:
        repeat;
    background-size:
        100px;
}
.background-preset-4{
    background: 
        linear-gradient(to right, rgb(15, 20, 26) 0%,  rgba(16, 21, 29, 0.75) 30%,  rgba(16, 21, 29, 0.75) 70%, rgb(15, 20, 26) 100%),
        url(/icons/textures/concrete.png);
    background-repeat: 
        no-repeat,
        repeat;
    background-size: 
        cover,
        100px;
}
.background-preset-5{
    background:
        linear-gradient(to bottom,
        rgba(24, 33, 42, 0.8) 50%,
        rgba(24, 33, 42, 0.9) 100%),
        url("icons/textures/surface.png");
    background-repeat:
        no-repeat,
        repeat;
    background-size:
        cover,
        100px;
}
.background-preset-6{
    background:
        linear-gradient(rgba(24, 33, 42, 0.97)),
        url("icons/textures/surface.png");
    background-repeat:
        repeat;
    background-size:
        100px;
}
