
body {
    background: #1e1f2e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle-wrapper {
    position: relative;
    width: 400px;
    height: 400px;
    inset: 0;
}

.upgrade-circle-container-dec-3 {
    position: absolute;
    inset: 0;
    --ring-width: 3px;
    --sector-start: 200deg;
    --sector-sweep: 120deg;
    --base-color: #32354B;
    --sector-color: red;

    border-radius: 50%;
    background:
    conic-gradient(from var(--sector-start),
                    var(--sector-color) 0 var(--sector-sweep),
                    transparent 0 360deg),
    conic-gradient(var(--base-color) 0 360deg);

    -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--ring-width)),
    #000       calc(100% - var(--ring-width)),
    #000       calc(100% + var(--ring-width)),
    transparent calc(100% + var(--ring-width))
    );
    mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--ring-width)),
    #000       calc(100% - var(--ring-width)),
    #000       calc(100% + var(--ring-width)),
    transparent calc(100% + var(--ring-width))
    );
}

.dashed-overlay {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 5px dashed #1e1f2e;
    box-sizing: border-box;
}

.marker {
    inset: 0;
    position: absolute;
    width: 300px;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    height: 10px;
    background: limegreen;
    top: 50%;
    left: 10%;
    transform: rotate(0deg) translate(5px);
    transition: transform 0.1s linear;
}